.header {
    width: 100%;
    height: 1.066667rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: .266667rem;
}

.header-body {
    width: 9rem;
    height: 1rem;
    justify-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(47, 47, 47, 0.9);
    border-radius: .053333rem;
    border: 1px solid rgba(47, 47, 47, 0.9);
    padding-left: .133333rem;
    padding-right: .133333rem;
    color: white;
}

.header-name {
    width: 1rem;
    height: .346667rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
}

.header-input {
    height: .346667rem;
    display: flex;
    flex: 1;
    border-radius: .053333rem;
    border: none;
    padding-left: .1rem;
    padding-right: .1rem;
    margin-left: .266667rem;
    margin-right: .266667rem;
    color: rgba(47, 47, 47, 0.9);
}

.header-add {
    width: .8rem;
    height: .346667rem;
    display: flex;
    border-radius: .026667rem;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    background-color: white;
    color: rgba(47, 47, 47, 0.9);
}