.header {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-body {
    width: 40%;
    min-width: 750px;
    height: 60px;
    justify-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(47, 47, 47, 0.9);
    border-radius: 4px;
    border: 1px solid rgba(47, 47, 47, 0.9);
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.header-name {
    width: 80px;
    height: 26px;
    display: flex;
    font-weight: bold;
    font-size: 18px;
}

.header-input {
    height: 26px;
    display: flex;
    flex: 1;
    border-radius: 4px;
    border: none;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 20px;
    margin-right: 20px;
    color: rgba(47, 47, 47, 0.9);
}

.header-add {
    width: 60px;
    height: 26px;
    display: flex;
    border-radius: 2px;
    border: 1px solid white;
    background-color: white;
    color: rgba(47, 47, 47, 0.9);
}