.todo-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: .133333rem;
}

.todo-list-body {
    width: 9rem;
    color: rgba(47, 47, 47, 0.8);
    padding: .133333rem;
    background-color: #e0e0e0;
}


.todo-list-title {
    height: .426667rem;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    background-color: #fcfcfc;
    border-radius: 2px;
    border: 1px solid #fcfcfc;
    font-size: 16px;
    padding-left:.133333rem;
    padding-right: .133333rem;
}

.todo-list-content {
    margin-top: .066667rem;
    border: none;
    font-weight: normal;
    font-size: 14px;
}